{% extends "base.html" %}


	{% block title %}Car List{% endblock title %}

{% block content %}
	<br>
	<div class="row">
	{% for car in cars %}
		<a href="{{car.get_absolute_url}}" class="col-4">
			<div class="card" style="width: 20rem;">
				{% if car.img %}
					<img src="{{car.img.url}}" class="card-img-top">
				{% endif %}

				<div class="card-body">
				  <h5 class="card-title">{{car.make}}</h5>
				  <h6 class="card-subtitle mb-2 text-muted">{{car.model}} - {{car.year}}</h6>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
{% endblock content %}