{% extends "base.html" %}
{% block title %}Car detail{% endblock title %}

{% block content %}
	<br>
	<div class="col-9" style="align-content: center;">
		<div class="card">
			{% if car.img %}
				<img src="{{car.img.url}}" class="card-img-top">
			{% endif %}

			<div class="card-body">
			  <h5 class="card-title">{{car.make}}</h5>
			  <h6 class="card-subtitle mb-2 text-muted">{{car.model}} - {{car.year}}</h6>
			  <div class="btn-group" role="group">
				<a href="{% url 'car-update' car.id %}">  
					<button type="button" class="btn btn-success">Update</button>
				</a>
				<a href="{% url 'car-delete' car.id %}">
					<button type="button" class="btn btn-danger">Delete</button>
				</a>
			  </div>
		</div>
		</div>
	</div>


{% endblock content %}
